
.Footer{
    background-color:#070024;
    display: flex;
    flex-direction: column;
    justify-content:center;
 
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.image-bounce:hover {
    animation: bounce 0.5s ease;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color:white

}
.social-links a{
    color:white
}
.copyright{
    display: flex;
    justify-content: center;
    color: white;
}